@font-face {
  font-family: "29LT bukra";
  src: url("./assets/fonts/29LTBUKRAREGULAR.TTF");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-THIN.TTF");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-EXTRA-LIGHT.TTF");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-LIGHT.TTF");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-REGULAR.TTF");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-MEDIUM.TTF");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-SEMIBOLD.TTF");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-BOLD.TTF");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-EXTRA-BOLD.TTF");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/INTER-BLACK.TTF");
  font-weight: 900;
}

* {
  font-family: "Inter";
  transition: all ease-in-out 0.3s !important;
  scroll-behavior: smooth !important;
}

body {
  position: relative;
  /* background: rgba(255, 255, 255, 0.5) url("./assets/images/bg.jpg") no-repeat; */
  /* background-size: 100% auto;
  background-attachment: fixed;
  background-position: left bottom; */
}

#intro::-webkit-scrollbar {
  display: none;
}

/* @media (max-width: 1000px) {
  body {
    background-size: auto 60vh;
  }
} */

/* #Form{
    background-color: rgba(255, 255, 255, 0.435);
} */

.row {
  grid-template-columns: 0.5fr 1.75fr 1fr 1.75fr 0.5fr 1.2fr 0.75fr 0.25fr;
}

.qrcode::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 0.25em;
  z-index: -10;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  top: -10px;
  left: 40%;
}

.information-part::-webkit-scrollbar {
  display: none;
}
